

#keyboard {
	position: absolute;
	width: 466px;	
	height: 160px;
	bottom: 50px;
	left: 50%;
	margin-left: -233px;

	li {
		position: relative;
		float: left;
		margin: 0 2px 2px 0;
		padding-top: 10px;
		width: 30px;
		height: 30px;
		font-size: .6em;
		line-height: 10px;
		text-align: center;
		background: rgba(255,255,255,.3);
		border: 1px solid rgba(255,255,255,.3);
		@include border-radius(2px);
		cursor: default;
		@include transition( background-color 1s ease-in-out, opacity 1s ease-in-out );
	}

	.capslock, 
	.tab, 
	.left-shift, 
	.fn {
		clear: left;
	}
	.tab, 
	.delete {
		width: 46px;
	}
	.capslock {
		width: 53px;
	}
	.return {
		position: absolute;
		width: 23px;
		height: 62px;
		top: 32px;
		right: 2px;
		padding: 12px 4px 0 0;
		&:before {
			content: '';
			position: absolute;
			width: 9px;
			height: 30px;
			background: inherit;
			border: inherit;
			border-right: transparent;
			top: -1px;		
			right: 20px;
			@include border-radius(2px);
		}
	}
	.left-shift {
		width: 37px;
	}
	.right-shift {
		width: 71px;
	}
	.space {
		width: 143px;
	}
	.arrow {
		font-size: 8px;
	}
	.letter {
		text-transform: uppercase;
	}
	.on {
		display: none;
	}
	.insensitive {
		background: rgba(255,255,255,.2);
		border: 1px solid rgba(255,255,255,.2);
	}
	.double {
		@include opacity(.3);
	}

	// Terrain
	.marais {
		background-color: #f7ede2;
	}
	.foret {
		background-color: #cae9da;
	}
	.mer {
		background-color: #ecf5fc;
	}
	.montagne {
		background-color: #f7e2f6;
	}
	// Fin de terrain

	// Bonus et malus
	.bonus1 {
		background-image: url('../assets/img/objects/hat.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.bonus2 {

	}
	.malus1 {

	}
	// Fin de bonus et malus

	// Changeant
	.press {
		border-color: rgba(0,0,0,.3);
	}
	.hero {
		&:after {
			content: '';
			display: block;
			width: 26px;
			height: 26px;
			margin: -19px auto 0 auto;
			border: 1px solid rgba(0,0,0,.3);
			@include border-radius(50%);
		}
	}
	.proximity {
		&.top { background: Royalblue; }
		&.right { background: Royalblue; }
		&.bottom { background: Royalblue; }
		&.left { background: Royalblue; }
	}
	.princess {
	  background: pink;
	}
	.rival {
		background: red;
	}
	// Fin de changeant
}
