@import "compass";

@import "base";
@import "animation-mixins";
@import "reset";
@import "core";
@import "boussole";
@import "keyboard";
@import "textkey";


.container {
	color: rgba(0,0,0,.5);
	text-align: center;

	h1 {
		display: none;
	}
	.screen {
		@include transition(background-color 1s ease-in-out);
		padding-top: 80px;

		.box {
			padding-top: 50px;
			max-width: 780px;
			margin: 0 auto;
			@include transition(opacity 0.5s ease-in-out);

			/*
			:first-letter {
				font-size: 2em;
				border: 1px solid rgba(0,0,0,.1);
				@include border-radius(5px);
				padding: 13px 18px 7px 18px;
				margin-right: -18px;
			}
			*/

			p {
				&.title {
					font-size: 2.5em;
					line-height: 1em;
					font-weight: 600;
				}
				&.text {
					//font-size: 1em;
					font-weight: 600;
					padding-top: 20px;
				}
				> span {
					display: block;
					//font-size: .7em;
					font-weight: 500;
				}

			}
			strong {
				font-size: 1.1em;
				font-weight: bold;
				display: block;
			}
		}
		.box_old {
			@include opacity(0);
		}



		.key-style {
			@include border-radius(4px, 4px);
			border: 1px solid white;
			color: white;
			padding: 4px 12px;
			display: inline-block;
			&.space {
				width: 250px;
			}
			&.block { 
				display: block;
				margin: 8px auto;
			}
			&.press {
				background-color: white;
			}
		}

		.img {
			height: 200px;
			width: 100%;
			background-repeat: no-repeat;
			background-size: 30%;
			background-position: top center;
		}
	}
}
